<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    /> -->
    <link rel="stylesheet" href="./../public/css/menu.css" />
    <link rel="stylesheet" href="./../public/css/bootstrap.min.css" />
    <script src="./../public/js/menu.js"></script>
    <script src="./../public/js/angular.min.js"></script>
    <script src="./../public/js/angular-route.min.js"></script>
    <title>HOME</title>
  </head>
  <body ng-app="app">
    <nav class="nav">
      <ul class="list">
        <li class="list__item">
          <div class="list__button">
            <img src="./../public/asset/home.svg" alt="" class="list__img" />
            <a href="#!/producto/list" class="nav__link">Inicio</a>
          </div>
        </li>

        <li class="list__item list__item--click">
          <div class="list__button list__button--click">
            <img src="./../public/asset/paper.svg" alt="" class="list__img" />
            <a href="#" class="nav__link">Productos</a>
            <img src="./../public/asset/arrow.svg" alt="" class="list__arrow" />
          </div>

          <ul class="list__show">
            <li class="list__inside">
              <a href="#" class="nav__link nav__link--inside"
                >Agregar producto</a
              >
              <a href="#" class="nav__link nav__link--inside">Compras</a>
              <a href="#" class="nav__link nav__link--inside">Ventas</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="content p-5" ng-controller="mainController">
      <div>
        <label for="">Prueba de titulo</label>
        <input type="text" class="input-form" ng-model="title" />
      </div>
      <h1>{{title}}</h1>

      <div ng-view></div>
    </div>
    <script src="./../public/js/app.js"></script>
  </body>
</html>
