<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    /> -->
    <link rel="stylesheet" href="./../public/css/menu.css" />
    <link rel="stylesheet" href="./../public/css/bootstrap.min.css" />
    <script src="./../public/js/menu.js"></script>

    <title></title>
  </head>
  <body>
    <nav class="nav">
      <ul class="list">
        <li class="list__item">
          <div class="list__button">
            <img src="./../public/asset/home.svg" alt="" class="list__img" />
            <a href="./test.html" class="nav__link">Inicio</a>
          </div>
        </li>

        <li class="list__item list__item--click">
          <div class="list__button list__button--click">
            <img src="./../public/asset/paper.svg" alt="" class="list__img" />
            <a href="#" class="nav__link">Productos</a>
            <img src="./../public/asset/arrow.svg" alt="" class="list__arrow" />
          </div>

          <ul class="list__show">
            <li class="list__inside">
              <a href="#" class="nav__link nav__link--inside"
                >Agregar producto</a
              >
              <a href="#" class="nav__link nav__link--inside">Compras</a>
              <a href="#" class="nav__link nav__link--inside">Ventas</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="content">
      <h1></h1>
    </div>
  </body>
</html>
