<!DOCTYPE html>
<html lang="es" ng-app="app" ng-controller="mainController">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    /> -->
    <link rel="stylesheet" href="./../public/css/menu.css" />
    <link rel="stylesheet" href="./../public/css/bootstrap.min.css" />
    <script src="./../public/js/menu.js"></script>
    <script src="./../public/js/angular.min.js"></script>
    <script src="./../public/js/angular-route.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="list">
        <!-- OPCIONES DE LA LISTA -->

        <li class="list__item">
          <div class="list__button">
            <img src="./../public/asset/home.svg" alt="" class="list__img" />
            <a href="#!/" class="nav__link">Inicio</a>
          </div>
        </li>

        <li class="list__item">
          <div class="list__button">
            <img src="./../public/asset/user.svg" alt="" class="list__img" />
            <a href="#!/cliente" class="nav__link">Clientes</a>
          </div>
        </li>

        <li class="list__item list__item--click">
          <div class="list__button list__button--click">
            <img src="./../public/asset/paper.svg" alt="" class="list__img" />
            <a class="nav__link">Productos</a>
            <img src="./../public/asset/arrow.svg" alt="" class="list__arrow" />
          </div>

          <ul class="list__show">
            <li class="list__inside">
              <a href="#!/producto" class="nav__link nav__link--inside"
                >Agregar producto</a
              >
              <a href="#!/compras" class="nav__link nav__link--inside"
                >Compras</a
              >
              <a href="#!/ventas" class="nav__link nav__link--inside">Ventas</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="content px-1" ng-view></div>
    <script src="./../public/js/app.js" type="module"></script>
  </body>
</html>
