<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba html</title>
    <link rel="stylesheet" href="./../public/css/bootstrap.min.css" />
  </head>
  <body>
    <button class="btn btn-secundary">PRUEBA DE BOTON</button>
    <a href="#" class="btn btn-success">holaaa</a>
    <a href="#" class="btn btn-danger">holaaa</a>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder=" esto es una prueba"
    />
  </body>
</html>
