<div>
  <p class="h1 text-center">{{title}}</p>
  <div>{{data}}</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre y Apellidos</th>
        <th>DNI</th>
        <th>Celular</th>
        <th>Dirección</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
        <td>
          <button class="btn btn-secondary btn-sm">Actualizar</button>
          <button class="btn btn-danger btn-sm">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
